{% extends "base.html" %}
{% load static %}
{% block page_content %}
<form action="{% url 'goods:goods_search' %}" style="display: flex; justify-content: center; padding: 10px">
    <input placeholder="Поиск" name="search" class="search" style="width: 600px">
    <button type="submit" class="btn btn-primary" style="position: relative; top: 10px; left: 10px">Поиск</button>
</form>
<div class="detail">
    <div class="detail-1">
        <p class="detail-name">{{good.line}} - {{good.taste}}</p>
        <img class="detail-img" src="{{ good.image.url }}">
        {% if good.quantity > 0 %}
        <div class="item">
            <p class="detail-price">{{ good.price }} BYN</p>
            {% if good.id in cart_ids %}
            {% for item in cart %}
            {% if item.product == good %}
            <form action="{% url 'cart:cart_add' good.id %}" method="post" style="display: flex; flex-wrap: wrap; justify-content: center; position: relative; transform: translate(-50%); left: 50%; min-width: 156px; width: 100%; max-width: 200px; height: 65px">
                {% csrf_token %}
                <div class="number-input">
                    <button type="button" class="decrement" title="Уменьшить">-</button>
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    <button type="button" class="increment" title="Увеличить">+</button>
                </div>
                <button type="submit" style="outline: none; border: none; border-bottom: 1px solid rgba(79, 70, 126, 0.8); border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; border-top: 1px solid rgba(79, 70, 126, 0.8); border-top-right-radius: 10px; border-top-left-radius: 10px; background-color: transparent; text-align: center; font-family: Gill Sans, sans-serif; font-size: clamp(12px, 2vw, 18px); width: 100%; max-height: 100%; color: #212529" title="Обновить количество в корзине">Обновить</button>
            </form>
            {% endif %}
            {% endfor %}
            {% else %}
            <form action="{% url 'cart:cart_add' good.id%}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <p style="display: none; text-align: center;" >{{ cart_product_form.quantity }}</p>
                    <button type="submit" style="position: relative;display: flex; flex-wrap: wrap; outline: none; border: 1px solid rgba(0,0,0,0.5);border-radius: 10px; left: 50%; transform: translate(-50%); background-color: white; justify-content: center; text-align: center; font-family: Gill Sans, sans-serif; padding: 5px 5px; max-width: 40%" ><img class="in-cart" src="/media/images/Cart.png" style="max-height: 20%; max-width: 20%; border-radius: 0"><p style="align-self: center; margin: 2px 0 0 0; font-size: clamp(12px, 2vw, 20px); color: #212529">&nbsp;В корзину</p></button>
                </div>
            </form>
            {% endif %}
        </div>
        {% else %}
        <div class="item">
            <p class="card-title">&#10008; Нет в наличии</p>
        </div>
        {% endif %}
    </div>
    <div class="detail-2">
        <p class="detail-category">Категория:</p>
        <p class="detail-category-name">{{good.category}}</p>
        <p class="detail-category">О товаре:</p>
        <p class="detail-category-name">{{good.description}}</p>
        {% if good.category.category == 'Жидкости' or good.category.category == 'Одноразовые устройства' or good.category.category == 'Снюс'%}
            <p class="detail-category">Крепость:</p>
        {% elif good.category.category == 'Расходники' %}
            <p class="detail-category">Сопротиление:</p>
        {% elif good.category.category == 'Энергетики' %}
            <p class="detail-category">Объем:</p>
        {% elif good.category.category == 'POD-устройства' %}
            <p class="detail-category">Предельная мощность:</p>
        {% else %}
            <p class="detail-category">Доп. информация:</p>
        {% endif %}
        <p class="detail-category-name">{{good.stronghold}}</p>
        {% if good.quantity > 0 %}
        <p class="detail-existence">&#10004; В наличии</p>
        {% else %}
            <p class="detail-existence">&#10008; Нет в наличии</p>
        {% endif %}
    </div>
</div>
<div class="category">
    <div class="category_link">
        <p>Похожие товары:</p>
    </div>
</div>
<div class="catalog" id="List_line">
    {% for good_ in goods_also %}
    {% if good_.line == good.line %}
    <div class="line">
        <li class="line-name">{{line}}:</li>
        <a href="{% url 'goods:goods_line' line.id %}"> Перейти в линейку </a>
    </div>
    <div class="product" >
        <div class="item">
            <a href="{% url 'goods:goods_detail' good_.pk good_.line.id %}" class="card-body" style="text-decoration: none;">
                <img class="card-img-top" src="{{ good_.image.url }}">
                <p class="card-name">{{ good_.line }}-{{ good_.taste }}</p>
            </a>
        </div>
        {% if good_.quantity > 0 %}
        <div class="item">
            <p class="card-name">{{ good_.price }} BYN</p>
            {% if good_.id in cart_ids %}
                {% for item in cart %}
                    {% if item.product == good_ %}
                        <form action="{% url 'cart:cart_add' good.id %}" method="post" style="display: flex; flex-wrap: wrap; justify-content: center; position: relative; transform: translate(-50%); left: 50%; min-width: 156px; width: 100%; max-width: 200px; height: 65px">
                            {% csrf_token %}
                            <div class="number-input">
                                <button type="button" class="decrement" title="Уменьшить">-</button>
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.update }}
                                <button type="button" class="increment" title="Увеличить">+</button>
                            </div>
                            <button type="submit" style="outline: none; border: none; border-bottom: 1px solid rgba(79, 70, 126, 0.8); border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; border-top: 1px solid rgba(79, 70, 126, 0.8); border-top-right-radius: 10px; border-top-left-radius: 10px; background-color: transparent; text-align: center; font-family: Gill Sans, sans-serif; font-size: clamp(12px, 2vw, 18px); width: 100%; max-height: 100%; color: #212529" title="Обновить количество в корзине">Обновить</button>
                        </form>
                    {% endif %}
                {% endfor %}
            {% else %}
            <form action="{% url 'cart:cart_add' good_.id%}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <p style="display: none; text-align: center;" > Количество - {{ cart_product_form.quantity }}</p>
                    <button type="submit" style="position: relative;display: flex; flex-wrap: wrap; outline: none; border: 1px solid rgba(0,0,0,0.5);border-radius: 10px; left: 50%; transform: translate(-50%); background-color: white; justify-content: center; text-align: center; font-family: Gill Sans, sans-serif; padding: 5px 5px; max-width: 80%" ><img class="in-cart" src="/media/images/Cart.png" style="max-height: 20%; max-width: 20%; border-radius: 0"><p style="align-self: center; margin: 2px 0 0 0; font-size: clamp(12px, 2vw, 20px); color: #212529"> В коризну</p></button>
                </div>
            </form>
            {% endif %}
        </div>
        {% else %}
        <div class="item">
            <p class="card-title">&#10008; Нет в наличии</p>
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}