{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="cart-cart">
    <div style="display: flex; justify-content: space-between; width: 100%; position: relative; top: 30px">
        <p style="width: fit-content; height: fit-content; font-family: Gill Sans, sans-serif; background-color: rgba(255, 255, 255, 0.8); border-radius: 10px; padding: 5px 10px; font-size: clamp(20px, 2vw, 30px)">Корзина</p>
        <a href="{% url 'cart:cart_clear' %}" style=" width: fit-content; height: fit-content; background-color: rgba(255, 255, 255, 0.8); z-index: 0; text-decoration: none; font-family: Gill Sans, sans-serif; font-size: clamp(14px, 1.5vw, 20px); color: black; border: 1px solid rgba(64, 61, 61, 0.5); padding: 5px; border-radius: 10px"><img src="{% static 'icon/delete.png' %}" style=" width: 20%; max-width: 40px; height: 90%">Очистить корзину</a>
    </div>
    <div class="cart-catalog">
        {% for item in cart %}
            {% with product=item.product %}
                <div class="cart-item">
                    <div class="cart-item-1">
                        <a href="{% url 'goods:goods_detail' product.pk product.line.id %}" class="link-img">
                            <img class="cart-img" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'icon/no_image.png' %}{% endif %}">
                        </a>
                        <div class="cart-item-1-1">
                        <p class="cart-name">{{ product.line }}-{{ product.taste }} ({{ product.stronghold }})</p>
                        <a href="{% url 'cart:cart_remove' product.id %}" class="cart-remove"><img src="{% static 'icon/delete.png' %}" style="width: 40px; height: 40px"></a>
                        </div>
                    </div>
                    <div class="cart-item-2">
                        <div class="cart-item-2-1">
                            <p class="cart-quantity">Сейчас в корзине: {{ item.quantity }}</p>
                            <form action="{% url 'cart:cart_add' product.id %}" method="post" style="display: flex; flex-wrap: wrap; justify-content: center; position: relative; transform: translate(-50%); left: 50%; min-width: 156px; width: 100%; max-width: 200px; height: 65px">
                                {% csrf_token %}
                                <div class="number-input">
                                    <button type="button" class="decrement" title="Уменьшить">-</button>
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    <button type="button" class="increment" title="Увеличить">+</button></div>
                                <button type="submit" style="outline: none; border: none; border-bottom: 1px solid rgba(79, 70, 126, 0.8); border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; border-top: 1px solid rgba(79, 70, 126, 0.8); border-top-right-radius: 10px; border-top-left-radius: 10px; background-color: transparent; text-align: center; font-family: Gill Sans, sans-serif; font-size: clamp(12px, 2vw, 18px); width: 100%; max-height: 100%; color: #212529" title="Обновить количество в корзине">Обновить</button>
                            </form>
                        </div>
                        <div class="cart-item-2-2">
                            <p class="num">Цена за шт.: {{ item.price }} BYN</p>
                            <p class="num">Сумма позиции: {{item.total_price }} BYN</p>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
    </div>
    <div class="total-cart">
        <p style="font-family: OCR A Std, monospace; font-size: 20px">Ваша корзина:</p>
        <p style="padding: 0 10px">Всего товаров: {{cart.get_len}}</p>
        <p style="padding: 0 10px">Общая стоймость корзины: {{ cart.get_total_price }}</p>
        <p style="text-align: center; color: #606060">Все скидки и акции предоставляются менеджером после оформления заказа</p>
        <form  method="post" action="{% url 'order:checkout'%}" class="order-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" style="margin: 0 50px">Оформить заказ</button>
        </form>
        <a href=" {% url 'goods:goods_list' %}" class="btn btn-primary" style="position: relative; transform: translate(-50%); left: 50%; padding: 5px 10px">Продолжить покупки</a>
    </div>
</div>
{% endblock %}